<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>(Basic)Profile</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="wrapper clearfix">
  <div class="left">

    <div class="name-hero">

      <div class="me-img">
        <img src="../static/images/portrait.jpg" alt="">
      </div>
     
      <div class="name-text">
     
        <h1>Nguyen Hoang Hiep</h1>
        <div class="info">
          <p>Adress: 5-7 Vyazemsky, Saint Petersburg</p>
          <p>Gmail: hoanghieppt2k@gmail.com</p>
          <p>Phone: +7(931)358-23-89</p>
        </div>
        

      </div>

    </div>

  </div>

  <div class="right">
    <div class="inner">
      <section>
        <h1>Introduction</h1>
        <p> Hi, I'm Nguyen Hoang Hiep, a student at ITMO University. I'm a web developer with a passion for creating beautiful, responsive websites. I'm currently looking for a full-time position in web development. I'm a quick learner and a team player, and I'm excited to learn new technologies and frameworks. </p>
      </section>
      <section>
        <h1>Education</h1>
        <p> 9/2024 - Present | <em>ITMO university - Master</em></p>
        <p> 9/2020 - 6/2024 | <em>ITMO university - Student</em></p>
      </section> 
      <section>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>CSS3</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JQUERY</li>
          <li>UX/UI Design</li>
          <li>Responsive Web Design</li>
          <li>Adobe Photoshop</li>  
        </ul>
      </section>
      <section>
        <h1>Personal Interests</h1>
        <ul class="skill-set">
          <li>Faith</li>
          <li>Biblical Studies</li>
          <li>Playing Guitar</li>
          <li>Song Writing</li>
          <li>Health & Nutrition</li>
          <li>Reading</li>
        </ul>
      </section>
    </div>

  </div>

</div>
</body>
</html>